<form class="form-signin" action="/signup" method="POST" style="width: 100%;">

  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Signup</h1>
  </div>

  <div class="form-label-group">
    <label for="input">name</label>
    <input type="text" name="name" class="form-control" placeholder="name" required autofocus>
  </div>

  <div class="form-label-group">
    <label for="input">email</label>
    <input type="text" name="email" class="form-control" placeholder="email" required autofocus>
  </div>

  <div class="form-label-group">
    <label for="input">password</label>
    <input type="password" name="password" class="form-control" placeholder="password" required autofocus>
  </div>

  <br/>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>

  <div class="text-center mb-4">
    <p><a href="/signin">Signin</a></p>
  </div>

  <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
</form>